* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000; 
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(64, 64, 64, 0.8); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #fff; 
    user-select: none;
}

.btnLogin {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #FF6B35; 
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #FF6B35; 
    font-weight: 500;
}

.btnLogin:hover {
    background: #FF6B35; 
    color: #000; 
}